.card {
  background: #2c2c2c;
  border: 1px solid rgba(102, 102, 102, 0.5);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  max-width: 100%;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fakeNumber {
  font-size: 10px;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  color: #c4c4c4;
}

.finishedTag {
  padding: 6px 16px;
  background: #ff5f52;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  border-radius: 16px;
}

.driverSection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.driverImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.driverInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.driverLabel {
  font-size: 12px;
  color: #a6a6a6;
  font-weight: 500;
}

.driverName {
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
}

.likes {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #fb6856;
}

.heart {
  width: 12px;
  height: 12px;
  background: #fb6856;
  border-radius: 50%;
}

.detailsSection {
  border-top: 1px solid rgba(102, 102, 102, 0.5);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date {
  font-size: 20px;
  font-weight: 700;
  color: #e1e1e1;
  letter-spacing: 0.2px;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c8c8c8;
  gap: 10px;
}

.bulletOrange,
.bulletRed {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.bulletOrange {
  background: #ffa500;
}

.bulletRed {
  background: #e24949;
}

.time {
  color: #ffa500;
  font-size: 14px;
  font-weight: 500;
}

.endTime {
  color: #e24949;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.childImages {
  display: flex;
  gap: -10px;
  margin-left: 10px;
}

.childImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #2c2c2c;
}

.recurringTag {
  padding: 5px 10px;
  background: rgba(255, 136, 51, 0.1);
  color: #ffa500;
  font-size: 12px;
  font-weight: 700;
  border-radius: 15px;
}

/* @media query for Desktop Scaling */
@media (min-width: 768px) {
  .card {
    padding: 30px;
    gap: 15px;
  }

  .fakeNumber {
    font-size: 15px;
  }

  .finishedTag {
    padding: 9px 24px;
    font-size: 15px;
  }

  .driverSection {
    gap: 15px;
  }

  .driverImage {
    width: 90px;
    height: 90px;
  }

  .driverInfo {
    gap: 6px;
  }

  .driverLabel {
    font-size: 18px;
  }

  .driverName {
    font-size: 25.5px;
  }

  .likes {
    font-size: 18px;
  }

  .heart {
    width: 18px;
    height: 18px;
  }

  .detailsSection {
    padding-top: 15px;
    gap: 15px;
  }

  .date {
    font-size: 30px;
  }

  .location {
    gap: 15px;
  }

  .bulletOrange,
  .bulletRed {
    width: 18px;
    height: 18px;
  }

  .time {
    font-size: 21px;
  }

  .childImages {
    margin-left: 15px;
    gap: -15px;
  }

  .childImage {
    width: 60px;
    height: 60px;
    border: 3px solid #2c2c2c;
  }

  .recurringTag {
    padding: 7.5px 15px;
    font-size: 18px;
  }
}
