.inputField {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  .label {
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
    margin-bottom: 8px;
  }
  
  .input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #4a4a4a;
    outline: none;
    color: #ffff;
    font-size: 16px;
    padding: 8px 4px;
    transition: border-color 0.3s ease;
  }
  
  .input::placeholder {
    color: #b0b0b0;
    font-size: 14px;
  }
  
  .input:focus {
    border-bottom: 1px solid #ffff;
  }
  
  /* .input:checked {
    background-color: #fb812a;
  } */
  
  
  .input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #4a4a4a;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .input[type="checkbox"]:checked {
    background-color: #fb812a;
    border-color: #fb812a;
  }
  
  .input[type="checkbox"]:focus {
    outline: 2px solid #ffffff;
  }
  